body, input, select {
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
	font-size: 1em;
}
body {
	width: 960px;
}
table {
	width: 640px;
	margin: 1em auto;
	border-collapse: collapse;
	white-space: nowrap;
	table-layout: fixed;
}
tr:hover {
	background: #eee;
}
th {
	width: 150px;
	padding: 5px 2px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	background: #84b2e0;
	color: #fff;
	text-align: center;
}
th:first-child {
	width: auto;
	border-left-color: #84b2e0;
}
th:last-child {
	border-right-color: #84b2e0;
}
td {
	padding: .5em 2px;
	border: 1px solid #bbb;
}
td:last-child {
	text-align: right;
}
.input, .Output {
	float: left;
}
.input {
	width: 320px;
	padding: 0;
	margin: 1em 0;
}
.SkillBoxList {
	width: 320px;
	padding: 0;
	margin: 1em 0;
	list-style: none;
}
.SkillBoxList-li {
	padding: 0 16px;
    line-height: 2;
}

.SkillBoxList-li:hover {
	background: #eee;
}

.SkillBox-ul {
	float: right;
	list-style: none;
}

.SkillButton {
	float: left;
	width: 3em;
	border-right: 1px solid #bbb;
	text-align: center;
	color: #bbb;
}
.SkillButton:hover {
	background: #ddd;
}
.SkillButton:first-child {
	border-left: 1px solid #bbb;
}
.SkillButton.checked {
	background: #4aa3df;
	color: #fff;
}

.Output td {
	padding: .5em;
}
.Output tr:hover {
	background: #eee;
}
.Output .checked {
	color: #bbb;
}
.Output .checked .skillName {
	color: #4aa3df;
}
.disappearance {
	float: right;
	color: #bbb;
}
.test {
	display: inline-block;
	max-width: 100px;
	height: 10px;
	background: #84b2e0;
}
.Output .checked .test,
.test.minus {
	background: #bbb;
}