.AutoComplete {
  display: inline-block;
  margin: 0 2px;
}
.AutoComplete-input {
  box-sizing: border-box;
  margin: 0;
}
.AutoComplete-ul {
  position: absolute;
  z-index: 999;
  overflow: scroll;
  box-sizing: border-box;
  max-height: 50vh;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}
.AutoComplete-li {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
/*.AutoComplete-ul:not(:hover)>.AutoComplete-selected,
.AutoComplete-li:hover {
  background: #eee;
}*/
.AutoComplete-selected {
  background: #eee;
}
