body, input, select {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-size: 16px;
  color: #111;
}
body {
  padding: 0;
  margin: 0;
}
input[type=number] {
  text-align: right;
  width: 6em;
}
input[type=number], select {
  -o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*appearance: none;*/
  border-radius: 5px;
  border: 1px solid #bbb;
  margin: 0 2px;
  padding: 2px 5px;
  background: #fff;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}

section {
  margin-bottom: 32px;
}

a {
  color: #84b2e0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
table {
  border-collapse: separate;
  border-spacing:0;
  white-space: nowrap;
  table-layout: fixed;
  border: 1px solid #bbb;
  background: #eee;
}
tr {
  background-color: #fff;
}
tr:hover {
  background: #eee;
}
th {
  width: 150px;
  padding: 5px 2px;
  border-left: 1px solid #fff;
  background: #84b2e0;
  color: #fff;
  text-align: center;
}
th:first-child {
  border-left: none;
}
td {
  padding: 5px 8px;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  /*border: 1px solid #bbb;*/
}
td:first-child {
  border-left: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 0 16px;
  border-bottom: 1px solid #84b2e0;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 20px;
  text-align: center;
}

footer {
  border-top: 1px solid #84b2e0;
  text-align: center;
}

.MHCalc {
  width: 960px;
  margin: 0 auto;
}
.skill {
  display: flex;
  justify-content: space-between;
}

.SkillBoxList {
  width: 320px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.SkillBoxList-li {
  overflow: hidden;
  padding: 0 16px;
    line-height: 2;
}

.SkillBoxList-li:hover {
  background: #eee;
}

.SkillBox-ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

.SkillButton {
  float: left;
  width: 50px;
  border-right: 1px solid #bbb;
  text-align: center;
  color: #bbb;
  cursor: pointer;
}
.SkillButton:hover {
  background: #ddd;
}
.SkillButton:first-child {
  border-left: 1px solid #bbb;
}
.SkillButton.checked {
  background: #4aa3df;
  color: #fff;
}
.SkillRanking {
  width: 624px;
}
.SkillRanking table {
  position: relative;
  /*display: block;*/
  width: 100%;
}
.SkillRanking tr {
  position: relative;
}
.SkillRanking.animation tr {
  transition: transform .2s ease-out;
}
.SkillRanking th,
.SkillRanking td {
  box-sizing: border-box;
  overflow: hidden;
  height: 40px;
  cursor: default;
}
.SkillRanking th:first-child {
  width: 324px;
}
.SkillRanking td:last-child {
  text-align: right;
}
.SkillRanking .checked {
  color: #bbb;
}
.SkillRanking .checked .skillName {
  color: #4aa3df;
}
.skillName {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.disappearance {
  font-size: 12px;
  color: #bbb;
  transition: opacity .2s ease-out;
}
.opacity0 {
  opacity: 0;
}

.AddPower {
  display: inline-block;
}
.AddPower-graph {
  display: inline-block;
  transform-origin: left center;
  width: 100px;
  height: 10px;
  background: #84b2e0;
  transition: transform .2s ease-out;
}
.AddPower-value {
  display: inline-block;
  transition: transform .2s ease-out;
}
.SkillRanking .checked .AddPower-graph,
.SkillRanking .AddPower-graph.minus {
  background: #bbb;
}
.Weapon {
  text-align: center;
}
.weapon-type {
  width: 60px;
}
.weapon-name {
  width: 200px;
}
.weapon-level {
  width: 60px;
}