@media screen and (max-width: 480px) {
  .pc-only {
    display: none;
  }

  h1 {
    font-size: 14px;
  }

  /* 横幅のリセット */
  body {
    min-width: 320px;
  }

  .App, .skill, .SkillBoxList, .SkillRanking {
    width: initial;
  }

  .TableRow-th {
    width: 80px;
  }

  /* 横並びの解除、間隔の調整 */
  .skill {
    display: block;
  }

  .SkillBoxList {
    margin-bottom: 32px;
  }

  /* 表の調整 */
  .AddPowerCell {
    display: block;
    text-align: right;
  }
  .AddPowerCell-graph {
    display: none;
  }

  .AddPowerCell-value {
    transform: initial !important;
  }
}
