body, input, select {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  font-size: 16px;
  color: #111;
}
body {
  padding: 0;
  margin: 0;
  min-width: 960px;
}
.input-area {
  -o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*appearance: none;*/
  border-radius: 5px;
  border: 1px solid #bbb;
  margin: 0 2px;
  padding: 2px 5px;
  background: #fff;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
}

section {
  margin-bottom: 32px;
}

a {
  color: #84b2e0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 0 16px;
  border-bottom: 1px solid #84b2e0;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 20px;
  text-align: center;
}

footer {
  border-top: 1px solid #84b2e0;
  text-align: center;
}
